.gameboard-container{
  &.is-drawing{
    cursor: cell;
  }
  &.is-erasing{
    // cursor: grab;
    // cursor: -webkit-grab;
    cursor: cell;
  }
  .object-color{
    background-color: #fff000;
    width: 18px;
    height: 18px;
    display: inline-block;
  }
  .board-color{
    background-color: #ff00cc;
    width: 18px;
    height: 18px;
    display: inline-block;
  }
}

.gameboard-table{
  width: 100%;
  max-width: 400px;
  height: 400px;
  td,tr{
    margin:0;
    padding:0;
  }
  td{
    border: 1px solid #C30E9C;
  }
  .gameboard-cell{
    background-color: #cc0000;
    width: 2px;
    height: 2px;
  }
}